{% extends "base.html" %}

{% block title %}
Каталог книг
{% endblock %}

{% block content %}
<h1>Каталог</h1>

{% if selected_date %}
  <h2>Книги за {{ selected_date|date:"Y-m-d" }}</h2>
{% endif %}

{% for book in books %}
  <h2>{{ book.name }}</h2>
  <p>Автор: {{ book.author }}</p>
  <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
{% empty %}
  <p>Книг за эту дату нет.</p>
{% endfor %}

{% if selected_date %}
  <nav>
    {% if previous_date %}
      <a href="{% url 'books_by_date' previous_date|date:'Y-m-d' %}">
        Предыдущая дата
      </a>
    {% endif %}

    {% if next_date %}
      <a href="{% url 'books_by_date' next_date|date:'Y-m-d' %}">
        Следующая дата
      </a>
    {% endif %}
  </nav>
{% endif %}
{% endblock %}